.container-login {
  margin: auto;
  width: 80%;
  text-align: center;
}

.divider {
  margin-bottom: 1rem;
}

.btn-login {
  margin-top: 1rem;
}
mat-form-field {
  padding: 10px;
}
.alert-invalid {
  color: rgb(199, 0, 0);
  margin: 1rem 0 1rem 0;
}
