<div class="container-login">
  <mat-card>
    <div class="alert-invalid" *ngIf="message">
      <small>{{ message }}</small>
    </div>
    <div>
      <mat-card-title> Login </mat-card-title>
    </div>
    <form (submit)="onLogin(form)" #form="ngForm">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Matrícula</mat-label>
          <input matInput type="number" name="id" ngModel required />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            name="password"
            ngModel
            required
            minlength="6"
          />
        </mat-form-field>
      </div>
      <mat-divider class="divider"></mat-divider>
      <button
        [disabled]="form.invalid ? true : false"
        class="btn-login"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Entrar
      </button>
      |
      <a routerLink="/register">
        <button class="btn-login" mat-stroked-button color="primary">
          Novo Usuário
        </button>
      </a>
    </form>
  </mat-card>
</div>
