<mat-card class="container-register">
  <div id="title-register">
    <span *ngIf="message">{{ message }}</span>
    <mat-card-title> Registrar</mat-card-title>
  </div>
  <form (submit)="onRegister(form)" #form="ngForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Matrícula</mat-label>
        <input matInput type="number" ngModel required name="id" autofocus />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="text" ngModel required name="name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="email"
          ngModel
          required
          name="email"
          email
          placeholder="example@email.com"
        />
        <mat-error *ngIf="content.invalid">O e-mail deve ser válido</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input
          matInput
          type="password"
          ngModel
          required
          minlength="6"
          name="password"
          #content="ngModel"
        />
        <mat-error *ngIf="content.invalid"
          >A senha deve ter no mínimo 6 dígitos.</mat-error
        >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Centro</mat-label>
        <input
          matInput
          type="number"
          ngModel
          required
          minlength="3"
          name="CenterId"
          #center="ngModel"
          pattern="^((?!102).)*$"
        />
        <!-- TODO -->
        <mat-error *ngIf="center.invalid">O centro não pode ser 102</mat-error>
        <!---------->
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div>
      <button
        [disabled]="form.invalid ? true : false"
        class="btn-register"
        mat-raised-button
        color="primary"
        type="submit"
      >
        REGISTRAR
      </button>
    </div>
  </form>
</mat-card>
