mat-form-field {
  padding: 10px;
}

.container-register {
  width: 80%;
  margin: auto;
  text-align: center;
}
.btn-register {
  margin-top: 1rem;
}

.signup-message {
  color: rgb(128, 0, 187);
  margin: 1rem 0 1rem 0;
}
