<div class="container-toolbar">
  <mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="reload()">
        <mat-icon>refresh</mat-icon>
        <span>Atualizar</span>
      </button>
    </mat-menu>
    <span class="logo">
      <a routerLink="">
        <img src="../../assets/icons/icon-72x72.png" width="50" height="50"
      /></a>
    </span>
    <span class="spacer"></span>
    <a
      *ngIf="isAuth"
      mat-button
      routerLink="/history"
      routerLinkActive="mat-primary"
      >Histórico</a
    >
    <a
      *ngIf="!isAuth"
      mat-button
      routerLink="/login"
      routerLinkActive="mat-primary"
      >Entrar</a
    >
    <a
      *ngIf="!isAuth"
      mat-button
      routerLink="/register"
      routerLinkActive="mat-primary"
      >Registrar</a
    >
    <a
      *ngIf="isAuth"
      (click)="onLogout()"
      mat-raised-button
      color="warn"
      routerLink="/logout"
      routerLinkActive="mat-primary"
      >Sair</a
    >
  </mat-toolbar>
</div>
