.history-container {
  height: 620px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
td.mat-column-view,
th.mat-column-view {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 10px;
  text-align: center;
}
td.mat-column-sku,
td.mat-column-status,
td.mat-column-usuario,
td.mat-column-resposta,
th.mat-column-sku,
th.mat-column-status,
th.mat-column-usuario,
th.mat-column-resposta,
th.mat-column-quantidade,
td.mat-column-quantidade,
td.mat-column-ref,
th.mat-column-ref,
td.mat-column-nf,
th.mat-column-nf {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
td.mat-column-nf,
th.mat-column-nf {
  width: 200px;
}

table {
  width: 100%;
}

tr:hover {
  background: rgb(253, 247, 255);
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.rows {
  height: 1px;
  width: auto;
}
.rows-th {
  height: 2rem;
}

#NTP {
  color: rgb(189, 39, 39);
}
#Confirmado {
  color: rgb(39, 189, 39);
}
