table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.solicitation-detail {
  overflow: hidden;
  display: flex;
}

@media only screen and (min-device-width: 480px) {
  .box {
    width: 30%;
    border: 1px solid black;
    padding: 5px;
    font-weight: lighter;
    margin: 4px 0;
    height: 80px;
  }
  .product {
    font-weight: bold;
    font-size: 10px;
    line-height: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.box {
  width: 60%;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.product {
  font-weight: bold;
  font-size: 15px;
  line-height: normal;
}

.body-side {
  padding: 16px;
}
.status {
  margin-bottom: 10px;
}
.form {
  margin-top: 8%;
}

.btn {
  margin-left: 1rem;
}
