<h1 mat-dialog-title>Confirmação de Resposta</h1>
<mat-dialog-content>
  <div>
    <p><b>RESPOSTA</b></p>
    <p>
      <b id="{{ data.response }}"> {{ data.response }} </b>
    </p>
  </div>
  <div>
    <p><b>PRODUTO</b></p>
    <p>
      {{ data.product }}
    </p>
  </div>
  <div>
    <p><b>SKU</b></p>
    <p>{{ data.sku }}</p>
  </div>
  <div>
    <p><b>QUANTIDADE</b></p>
    <p>
      {{ data.amount }} pçs
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button
  (click)="onConfirm()"
    mat-raised-button
    color="primary"
    type="submit"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Confirmar
  </button>
  <button
  mat-button color="warn" type="submit" mat-dialog-close>
    Cancelar
  </button>
</mat-dialog-actions>
