<mat-card-title>
  <div>
    <h1>
      SOLICITAÇÕES PENDENTES: {{ amount }}<br />
      CENTRO: {{ user?.CenterId }}
    </h1>
  </div>
</mat-card-title>

<mat-accordion *ngFor="let solicitation of solicitations; index as i">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      #{{ solicitation.id }} |
      {{ solicitation.product.description }}
    </mat-expansion-panel-header>
    <mat-card class="solicitation-container">
      <mat-card-title-group>
        <mat-card-title>{{ solicitation.product.description }}</mat-card-title>
        <mat-card-subtitle>
          {{ solicitation.product.sku }}
          |
          {{ solicitation.product.ean }}
        </mat-card-subtitle>
        <img
          mat-card-md-image
          [src]="solicitation.product.imageUrl"
          alt="Sem imagem"
        />
      </mat-card-title-group>
      <mat-card-content>
        <p>
          Quantidade: <b>{{ solicitation.amount }}</b> pç.
        </p>
        <p>Ordem: {{ solicitation.order }}</p>
        <p>Por: {{ solicitation.user.name }}</p>
        <small>{{ solicitation.createdAt }}</small>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions *ngIf="user?.CenterId != 102">
        <div class="action-response">
          <button
            mat-raised-button
            color="primary"
            (click)="openDialog('CONFIRMADO')"
          >
            CONFIRMADO
          </button>
          <button mat-button color="warn" (click)="openDialog('NTP')">
            NTP
          </button>
        </div>
      </mat-card-actions>
      <mat-card-actions *ngIf="user?.CenterId == 102">
        <div class="action-request">
          <button mat-button color="primary">EDITAR</button>
          <button mat-button color="warn">DELETAR</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
<a routerLink="create" class="float" *ngIf="user?.CenterId == 102">
  <mat-icon class="btn-float">add</mat-icon>
</a>
