<mat-accordion *ngFor="let solicitation of solicitations; index as i">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      #{{solicitation.id.slice(0,4)}} | {{ solicitation.product.description }}
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>{{ solicitation.product.description }}</mat-card-title>
        <mat-card-subtitle>{{ solicitation.product.sku }}</mat-card-subtitle>
        <img
          mat-card-sm-image
          [src]="solicitation.product.imageUrl"
          alt="Sem imagem"
        />
      </mat-card-title-group>
      <mat-card-content>
        <p>
          Quantidade: <b>{{ solicitation.amount }}</b> pç.
        </p>
        <p>Ordem: {{ solicitation.order }}</p>
        <p>Por: {{solicitation.user.name}}</p>
        <small>{{solicitation.createdAt}}</small>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button color="primary">CONFIRMADO</button>
        <button mat-button color="warn">NTP</button>
      </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
<a routerLink="create" class="float">
  <mat-icon class="btn-float">add</mat-icon>
</a>
